<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CV-structure</title>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
</head>
<body>
<h1>Resume constructor</h1>
<img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="My photo" width="300px" class="my-photo">
<!--запитати як додати картинку у в'ю, бо не показувало її-->
<div id="app">
    <!-- сайдбар-->
    <!-- тут вагалась, що брати: v-model чи v-bind. чат порекомендував v-model-->
    <div>
        <h1>
            <label> {{surname}}</label>
            &nbsp;
            <label> {{name}} </label>
        </h1>
        <h4>
            <label>{{position}} </label>
        </h4>
        <p>About you: <br> {{descr}} </p>
        <input type="text" v-model="surname" placeholder="Your surname"><br>
        <input type="text" v-model="name" placeholder="Your name"><br>
        <input type="text" v-model="position" placeholder="Your position"/><br>
        <textarea type="text" v-model="descr"  placeholder="About yourself"></textarea>
    </div>

    <!--my project-->
    <div>
        <h3>My projects</h3>
        <ul>
            <li v-for="project in projects" :key="project.id">
                <a :href="project.url">{{ project.name }}</a>
                <p>{{ project.description }}</p>
            </li>
        </ul>

        <form @submit.prevent="addProject">
            <label for="project-name"></label>
            <input type="text" id="project-name" v-model="newProject.name" placeholder="Project name:"><br>
            <label for="project-description"></label>
            <input type="text" id="project-description" v-model="newProject.description" placeholder="Project description:"><br>
            <label for="project-url"></label>
            <input type="text" id="project-url" v-model="newProject.url" placeholder="Project URL:"><br>

            <button type="submit">Add Project</button>
        </form>
    </div>

    <!-- Work Experience -->

    <div>
        <h3>Work Experience</h3>
        <div v-if="experiences.length > 0">
            <h4>Registered experience::</h4>
            <ul>
                <li v-for="(experience, index) in experiences" :key="index">
                    <p><strong>Company:</strong> {{ experience.companyName }}</p>
                    <p><strong>Position:</strong> {{ experience.position }}</p>
                    <p><strong>Work period:</strong> {{ experience.workPeriod }}</p>
                    <p><strong>Responsibilities:</strong> {{ experience.responsibilities }}</p>
                </li>
            </ul>
        </div>

        <form @submit.prevent="addExperience">
            <label for="company-name"></label>
            <input type="text" id="company-name" v-model="newExperience.companyName" placeholder="Company name"><br>

            <label for="position"></label>
            <input type="text" id="position" v-model="newExperience.position" placeholder="Position"><br>

            <label for="work-period"></label>
            <input type="text" id="work-period" v-model="newExperience.workPeriod" placeholder="work-period"><br>

            <label for="responsibilities"></label>
            <textarea id="responsibilities" v-model="newExperience.responsibilities" placeholder="Responsibilities"></textarea><br>

            <button type="submit">Add experience</button>
        </form>
    </div>

    <!--    education -->
    <div>
        <h3 class="main-content-title">Education</h3>

        <label for="university"> {{ university }}</label><br>
        <label for="specialty"> {{ specialty }}</label><br>
        <label for="education-date"> {{ educationDate }}</label><br>
        <label for="country"> {{ country }}</label><br><br>

        <input type="text" id="university" v-model="university" placeholder="University"/><br>
        <input type="text" id="specialty" v-model="specialty" placeholder="Specialty:" /><br>
        <input type="text" id="education-date" v-model="educationDate" placeholder="Date:" /><br>
        <input type="text" id="country" v-model="country" placeholder="Country:"/>
    </div>

    <!--  Soft Skills-->
    <div>
        <h3 class="main-content-title">Soft Skills</h3>

        <div v-if="softSkills.length > 0">
            <h4>Registered Soft Skills: </h4>
            <ul>
                <li v-for="(skill, index) in softSkills" :key="index">{{ skill }}</li>
            </ul>
        </div>

        <div v-for="(skill, index) in softSkills" :key="index">
            <input type="text" v-model="softSkills[index]" />
            <button @click="removeSoftSkill(index)">Delete</button>
        </div>
        <button @click="addSoftSkill">Add Soft Skill</button>
    </div>

    <!--  Tech Skills  -->

    <div>
        <h3 class="main-content-title">Tech Skills</h3>

        <div v-if="techSkills.length > 0">
            <h4>Registered Tech Skills: </h4>
            <ul>
                <li v-for="(skill, index) in techSkills" :key="index">{{ skill }}</li>
            </ul>
        </div>

        <div v-for="(skill, index) in techSkills" :key="index">
            <input type="text" v-model="techSkills[index]" />
            <button @click="removeTechSkill(index)">Delete</button>
        </div>
        <button @click="addTechSkill">Add Tech Skill</button>
    </div>


</div>
</body>
</html>